#tableHeader, html body {
    background-color: #343a40;
    color: #fff;
}

#tableHeader td {
    text-align: center;
}

td#vattitle {
    font-size: x-large;
}

.fixed-table-border, .fixed-table-container {
    border: none !important;
}

