#tableHeader, html body {
    background-color: #343a40;
    color: #fff;
}
#tableHeader td {
    text-align: center;
    vertical-align: middle;
}
.vat-center{
    text-align: center;
}
.vat-right{
    text-align: right;
}
#vattitle {
    font-size: 1.5em;
}
.fixed-table-border, .fixed-table-container {
    border: none !important;
}
.fixed-table-body {
    overflow: hidden !important;
}
#appinfo {
    font-size: 0.7em;
}
#appinfo {
    margin-top:10px;
}
.arrow-route {
    fill: orange;
}
#arrow-route-container {
    margin: 0px 10px;
}

.clock {
    /*    position: absolute;*/
    /*    top: 50%;
        left: 50%;*/
    /*    transform: translateX(-50%) translateY(-50%);*/
    color: white;
    font-size: 2em;
    /*    font-family: Orbitron;*/
    letter-spacing: 4px;
}

