#tableHeader, html body {
    background-color: #343a40;
    color: #fff;
}
#tableHeader td {
    text-align: center;
    vertical-align: middle;
}
.vat-center{
    text-align: center;
}
.vat-right{
    text-align: right;
}
td#vattitle {
    font-size: x-large;
}
.fixed-table-border, .fixed-table-container {
    border: none !important;
}
#appinfo {
    font-size: 0.7em;
}

